/meta/projektförslag/*.out
/meta/projektförslag/*.aux
/meta/projektförslag/*.fdb_latexmk
/meta/projektförslag/*.log
/meta/projektförslag/*.pdf
/meta/projektförslag/*.fls

/build/*
/Cargo.lock
/target/*

# EMACS Files
*~
